@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    --font-main: "Inter", "sans-serif";
    --color-night: #131112;
    --color-ghost: #f7f7ff;
    --color-asparagus: #698f3f;
    --color-broccoli: #384f1f;

}

body{

    @apply bg-night;
    @apply font-main;

}

html{

    scroll-behavior: smooth;

}