@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    --font-main: "Inter", sans-serif;
    --color-night: #131112;
    --color-ghost: #f7f7ff;
    --color-asparagus: #698f3f;
    --color-broccoli: #384f1f;

}

@layer utilities {

  
  @keyframes mesh-move {

    0%   { background-position: 0% 0%,   100% 100%, 50% 50%; }
    50%  { background-position: 100% 0%, 0%   100%, 50% 0%; }
    100% { background-position: 0% 0%,   100% 100%, 50% 50%; }

  }

  @keyframes fadein {

    0% { opacity: 0 }
    100% { opacity: 1 }

  }
  

  .animate-fadein {

    animation: fadein 0.4s ease forwards;

  }

  .font-main { font-family: var(--font-main); }
  
}

body{

    @apply bg-night;
    font-family: var(--font-main);

}

html{

    scroll-behavior: smooth;

}